body {
    margin: 0; /* отступы верх,низ ,права, лево */
    font-family: "Rubik", sans-serif;/* название штрифта */
    font-size: 15px;/* высота шрифта */
    line-height: 1.6;/* отступы между строк */
    color: #333 /* цвет шрифта */

    }
*,
*:before /*создаёт псевдоэлемент до содержимого элемента. 
Этот псевдоэлемент работает только совместно со стилевым свойством content, 
которое определяет содержимое для вставки.*/
*:after/*создаёт псевдоэлемент после содержимого элемента. 
Этот псевдоэлемент работает только совместно со стилевым свойством content, 
которое определяет содержимое для вставки.*/
&{
    box-sizing: border-box ; /*Свойства width и height включают в себя значения полей 
    и границ, но не отступов (margin). Эта модель используется браузером 
    Internet Exporer в режиме несовместимости.*/
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
/* Container */
.container {
    width: 100%;
    max-width: 945px;
    margin: 0 auto; /* отступы верх,низ ,права, лево */
    background-color: blue;
}
/* intro */
.intro {
    display: flex;/*позволяет вращать блоки внутри контейнера*/
    flex-direction: column;/*Обратите внимание, что flex-direction: column 
    не выравнивает блоки по оси, перпендикулярной главной. 
    Главная ось сама меняет своё расположение, и теперь направлена сверху вниз*/
    justify-content: center; /*Флексы выравниваются по центру строки.*/
    width: 100%;
    height: 100vh; 
    background: #CEE1F2; 
    
}
